/*
padding:10px 5px 15px 20px;
top padding is 10px
right padding is 5px
bottom padding is 15px
left padding is 20px
*/

html {
    overflow-y: scroll;
}

#navbar {
    
    position: relative;
    top: -10px;
    padding: 0px 0px 21px 0px;
    background-color: rgba(0,0,0,0.5);
/*    text-transform:uppercase;*/
    
}



#menu1 {
    
    float: left;
    padding-left: 30px;
/*    top: -10px;*/
}

#menu2 {
    float: right;
    padding-right: 0px;
    
}

/***************************************/


/***************************************/

#spacer {
    height: 50px;
}

.footer {
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    bottom: 0;
/*    height: 10px;*/
/*    padding-top: 100px;*/
}

.footer #footer-text {
    color: rgba(200,200,200,0.9);
}

body {
    font-family: "Verdana", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
/************/
#navbar.navbar-fixed {
    position:fixed;
    top:0px;
    width:100%;
    height:15px;
}
#navbar.navbar-absolute {
    position:absolute;
    top:0px;
    width:100%;
    height:15px;
}

/*
#navbar ul,li,a {
    display: inline;
    text-decoration: none;
    color: dimgray;
}
*/

#navbar ul
{
	list-style:none;
	position:relative;
/*	float:right;*/
	margin:0;
	padding:0;
}

#navbar ul a
{
	display:block;
/*	color:#333;*/
    
	text-decoration:none;
	font-weight:700;
	font-size:13px;
	line-height:32px;
	padding:0 20px 3px;
/*    color: dimgray;*/
}

#navbar ul li
{
	
    position:relative;
	float:right;
	margin:0;
	padding:0px;
}

#navbar ul li:hover > ul
{
	display:block;
}
/*.icon-link-1*/
#navbar ul ul
{
/*	display:none;*/
/*    background-color: rgba(0,0,0,0.9);*/
	position:absolute;
	top:46%;
	right:0px;
/*	background:#fff;*/
	padding-top:0px;
}

#navbar ul ul.icon-link-1{
    right:120px;
}

#navbar ul ul.icon-link-2{
    right:60px;
}

#navbar ul ul.icon-link-3{
    right:0px;
}

 #navbar ul ul li
{
    background-color: rgba(0,0,0,0.5);
	float:none;
	width:60px;
    height:60px;
/*    height:100px;*/
} 

#navbar ul ul a
{
    
	line-height:120%;
	padding:10px 11px;
    float:none;
}

#navbar ul ul ul
{
	top:0;
	right:100%
} 

a.button, a.dropdown-array {
    position:relative;
    /* It seems as though this -40px is to counter the 40 px bottom padding under #navbar?*/
    top:0px;
/*
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 20px 10px 20px;
    text-decoration: none;
    top: 10px;
*/
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #ffffff;
    padding: 20px 20px 10px 20px;
    
    line-height: 3em;
    display: block;
    float:left;
/*
    padding-left: 20px;
    padding-right: 20px;
*/
/*    white-space: 0px;*/
/*    shape-margin: 0px;*/
/*    border-spacing: 0px*/
/*    display: block;*/
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    
}

a.button:hover {
    background-color: #000000;
/*
    background-image: -webkit-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -o-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: linear-gradient(to bottom, #F0F8FF, #FFFFFF);
    text-decoration: none;
*/
}

a.sub-button {
    position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #ffffff;
    padding: 20px 20px 10px 20px;
    
    line-height: 0em;
    display: block;
    float:right;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

a.sub-button:hover {
    background-color: #000000;
}

/**/

.jumbotron {
/*    background-color: cornflowerblue;*/
    background-image: url(images/skateboard_banner.jpg);
    background-size: cover;
    position: relative;
    top: 0px;
    padding: 75px 0px 300px 0px;
}

.jumbotron h1,h4 {
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px grey;
}

.about{
    position:relative;
    margin: 50px 25% 0px 25%;
}


#container-self{
    position: absolute;
    top: 0px;
    left: -150px;
}

#container-self .self-image {
    content:url(images/self.jpg);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#container-self .self-name{
    position: absolute;
    top: 100px;
    left: -20px;
    white-space: nowrap;
}
/*Project CSS*/
/*Work on fixed width project info boxes*/
.project {
/*    position: absolute;*/
    
}

/*
.self-image .self-name{
    position: absolute;
    top: 0px;
    left: 0px;
}*/
