/*
padding:10px 5px 15px 20px;
top padding is 10px
right padding is 5px
bottom padding is 15px
left padding is 20px
*/

html {
    overflow-y: scroll;
}

#spacer {
    height: 500px;
/*    float:bottom;*/
}

.footer {
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    bottom: 0;
/*    height: 10px;*/
/*    padding-top: 100px;*/
    /* Keep footer at bottom of page */
    /* http://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height */
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    /* ------------------------------ */
}

.footer #footer-text {
    color: rgba(200,200,200,0.9);
    
}

#navbar {
    
    position: relative;
    top: -10px;
    padding: 0px 0px 21px 0px;
    background-color: rgba(0,0,0,0.5);
/*    text-transform:uppercase;*/
    font-family:  "Verdana", sans-serif;
}



#menu1 {
    
    float: left;
    padding-left: 30px;
/*    top: -10px;*/
}

#menu2 {
    float: right;
    padding-right: 0px;
    
}

body {
    font-family: "Open Sans", "Verdana", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-width: 800px;
    background-color: #eee;
}

.header-text {
    font-family: "Verdana", sans-serif;
}

/***************************************/


/***************************************/


/************/
#navbar.navbar-fixed {
    position:fixed;
    top:0px;
    width:100%;
    height:15px;
    min-width: 420px;
}
#navbar.navbar-absolute {
    position:absolute;
    top:0px;
    width:100%;
    height:15px;
}

/*
#navbar ul,li,a {
    display: inline;
    text-decoration: none;
    color: dimgray;
}
*/

/* Navbar drop down menu */

#navbar ul
{
	list-style:none;
	position:relative;
/*	float:right;*/
	margin:0;
	padding:0;
}

#navbar ul a
{
	display:block;
/*	color:#333;*/
    
	text-decoration:none;
	font-weight:700;
	font-size:13px;
	line-height:33px;
	padding:0 20px 3px;
/*    color: dimgray;*/
}

#navbar ul li
{
	
    position:relative;
	float:right;
	margin:0;
	padding:0px;
}

#navbar ul li:hover > ul
{
	display:block;
}
/*.icon-link-1*/
#navbar ul ul
{
	display:none;
/*    background-color: rgba(0,0,0,0.9);*/
	position:absolute;
	top:45%;
	right:0px;
/*	background:#fff;*/
	padding-top:0px;
}

#navbar ul ul.icon-link-1{
    right:120px;
}

#navbar ul ul.icon-link-2{
    right:60px;
}

#navbar ul ul.icon-link-3{
    right:0px;
}

 #navbar ul ul li
{
    background-color: rgba(0,0,0,0.5);
	float:none;
	width:60px;
    height:63px;
/*    height:100px;*/
} 

#navbar ul ul a
{
    
	line-height:120%;
	padding:10px 11px;
    float:none;
}

/*---------------------------------------*/

a.button, a.dropdown-array {
    position:relative;
    /* It seems as though this -40px is to counter the 40 px bottom padding under #navbar?*/
    top:0px;
/*
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 20px 10px 20px;
    text-decoration: none;
    top: 10px;
*/
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #ffffff;
    padding: 20px 20px 10px 20px;
    
    line-height: 3em;
    display: block;
    float:left;
/*
    padding-left: 20px;
    padding-right: 20px;
*/
/*    white-space: 0px;*/
/*    shape-margin: 0px;*/
/*    border-spacing: 0px*/
/*    display: block;*/
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    
}

a.button:hover {
    background-color: rgba(0,256,256,0.5);
/*
    background-image: -webkit-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -o-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: linear-gradient(to bottom, #F0F8FF, #FFFFFF);
    text-decoration: none;
*/
}

a.sub-button {
    position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #ffffff;
    padding: 20px 20px 10px 20px;
    
    line-height: 0em;
    display: block;
    float:right;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
}

a.sub-button:hover {
    background-color: rgba(0,256,256,0.5);
}

.jumbotron {
/*    background-color: cornflowerblue;*/
    background-image: url(images/skateboard_banner.jpg);
    background-size: cover;
    position: relative;
    top: 0px;
    padding: 75px 0px 300px 0px;
    min-width:800px;
}

/*index.html CSS*/



.jumbotron h1,h4 {
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px grey;
}

.section{
    position:relative;
    margin: 50px 25% 0px 25%;
}

#about {
    margin-bottom:200px;
}


#container-self{
    position: absolute;
    top: 0px;
    left: -150px;
}

#container-self .self-image {
    content:url(images/self.jpg);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#container-self .self-name{
    
    position: absolute;
    top: 100px;
    left: -20px;
    white-space: nowrap;
}
/*Project CSS*/
/*Work on fixed width project info boxes*/
.project {
/*    position: absolute;*/
    position: relative;
    margin: 50px 60px 0px 60px;
    min-width: 600px;
/*    width:1200px;*/
    
}

.project .project-preview {
    padding-top: 58px;
    float:left;
/*    margin-left:5%;*/
    width:68%;
    min-width: 270px;
/*    margin-right: 700px;*/
}
.project .project-description {
    float:right;
/*    margin-right:5%;*/
    width:30%;
    top:20px;
}

/*Container CSS*/

.project-container {
    float: left;
    width: 256px;
    height: 180px;
    
    margin-bottom: 20px;
    margin-right: 20px;
/*    font-size:0px;*/
/*    overflow: auto;*/
    
    position:relative;
/*
    border: solid 0.01em;
    border-color: lightgray;
*/
    border-radius: 0 0 5px 5px;
/*
    -moz-box-shadow:    5px 5px 5px 1px #ccc;
    -webkit-box-shadow: 5px 5px 5px 1px #ccc;
    box-shadow:         5px 5px 5px 1px #ccc;
*/
    
    -moz-box-shadow:    0 0 1em #ccc;
    -webkit-box-shadow: 0 0 1em #ccc;
    box-shadow:         0 0 1em #ccc;
   
/*    padding:5px 5px 5px 5px*/
    background-color: rgb(255,255,255,0.8);
/*    background-color:red;*/
}

/*
.project-container:hover {
    border-color: cyan;
    -moz-box-shadow:    2px 2px 5px 1px cyan;
    -webkit-box-shadow: 2px 2px 5px 1px cyan;
    box-shadow:         2px 2px 5px 1px cyan;
}
*/

.project-container .project-image-container {
    width: 256px;
    height: 160px;
    background-size: cover;
    margin-bottom: 0;
    padding-bottom: 0;
/*    border-radius: 2%;*/
/*
    border-bottom: solid 0.01em;
    border-bottom-color: #00FFFF;
*/
/*    border-bottom: #00000c;*/
    
}
.project-container .project-image-container .project-image {
    height: 100%; 
    width: 100%; 
    background-size: cover;
    margin-bottom: 0;
    padding-bottom: 0;
/*    border-radius: 2%;*/
/*    line-height: 0px;*/
    
}
.project-container .project-name {
/*    float:top;*/
/*    vertical-align: top;*/
    height: 10px;
    margin-top: -18px;
    padding-bottom: 0px;
    line-height: 0px;
    text-align:center;
    
/*    border: solid 0.05em;*/
/*    font-size:12px;*/
/*
    margin: 0px;
    padding:0px;
*/
/*    float:bottom;*/
/*    top:20px;*/
}

.item-image {
/*    background-color: cyan;*/
    background-color: white;
    display: inline-block;
/*    border-radius: 3%;*/
}

.item-image img:hover{
    opacity: .4;
}


/*
.self-image .self-name{
    position: absolute;
    top: 0px;
    left: 0px;
}*/
