/*
padding:10px 5px 15px 20px;
top padding is 10px
right padding is 5px
bottom padding is 15px
left padding is 20px
*/

html {
    overflow-y: scroll;
}

body {
    font-family: "Verdana", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#navbar {
    
    position: relative;
    top: -9px;
    padding: 9px 0px 40px 0px;
    background-color: rgba(0,0,0,0.5);
    
}



#menu1 {
    
    float: left;
    padding-left: 30px;
/*    top: -10px;*/
}

#menu2 {
    float: right;
    padding-right: 30px;
}

/*
.btn {
  background: #F0F8FF;
  background-image: -webkit-linear-gradient(top, #F0F8FF, #F0F8FF);
  background-image: -moz-linear-gradient(top, #F0F8FF, #F0F8FF);
  background-image: -ms-linear-gradient(top, #F0F8FF, #F0F8FF);
  background-image: -o-linear-gradient(top, #F0F8FF, #F0F8FF);
  background-image: linear-gradient(to bottom, #F0F8FF, #F0F8FF);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F0F8FF;
  background-image: -webkit-linear-gradient(top, #F0F8FF, #FFFFFF);
  background-image: -moz-linear-gradient(top, #F0F8FF, #FFFFFF);
  background-image: -ms-linear-gradient(top, #F0F8FF, #FFFFFF);
  background-image: -o-linear-gradient(top, #F0F8FF, #FFFFFF);
  background-image: linear-gradient(to bottom, #F0F8FF, #FFFFFF);
  text-decoration: none;
}

*/

a.button {
    position:relative;
    /* It seems as though this -40px is to counter the 40 px bottom padding under #navbar?*/
    top:-40px;
/*
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 20px 10px 20px;
    text-decoration: none;
    top: 10px;
*/
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #ffffff;
    padding: 20px 20px 10px 20px;
    
    line-height: 3em;
    display: block;
    float:left;
/*
    padding-left: 20px;
    padding-right: 20px;
*/
/*    white-space: 0px;*/
/*    shape-margin: 0px;*/
/*    border-spacing: 0px*/
/*    display: block;*/
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

a.button:hover {
    background-color: #000000;
/*
    background-image: -webkit-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: -o-linear-gradient(top, #F0F8FF, #FFFFFF);
    background-image: linear-gradient(to bottom, #F0F8FF, #FFFFFF);
    text-decoration: none;
*/
}

/*
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
*/
#navbar.navbar-fixed {
    position:fixed;
    top:0px;
    width:100%;
    height:15px;
}
#navbar.navbar-absolute {
    position:absolute;
    top:0px;
    width:100%;
    height:15px;
}

#navbar ul,li,a {
    display: inline;
    padding-left: 10px;
    text-decoration: none;
    color: dimgray;
/*    position: fixed;*/
}

.jumbotron {
/*    background-color: cornflowerblue;*/
    background-image: url(images/skateboard_banner.jpg);
    background-size: cover;
    position: relative;
    top: 0px;
    padding: 75px 0px 300px 0px;
}

.jumbotron h1,h4 {
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px grey;
}

.about{
    position:relative;
    margin: 100px 25% 0px 25%;
}


#container-self{
    position: absolute;
    top: 0px;
    left: -150px;
}

#container-self .self-image {
    content:url(images/self.jpg);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#container-self .self-name{
    position: absolute;
    top: 100px;
    left: -20px;
    white-space: nowrap;
}
/*
.self-image .self-name{
    position: absolute;
    top: 0px;
    left: 0px;
}*/
