<style>
/* Project CSS */
/* Work on fixed width project info boxes */

.project {
    position: relative;
    margin: 50px 60px 0px 60px;
    min-width: 600px;
    
}

.project .project-preview {
    padding-top: 58px;
    float:left;
    width:68%;
    min-width: 270px;
}
.project .project-description {
    float:right;
    width:30%;
    top:20px;
    min-height: 600px;
}

/*Container CSS*/

.project-container {
    float: left;
    width: 256px;
    height: 180px;
    
    margin-bottom: 20px;
    margin-right: 20px;
    
    position:relative;
    
    -moz-box-shadow:    0 0 1em #ccc;
    -webkit-box-shadow: 0 0 1em #ccc;
    box-shadow:         0 0 1em #ccc;
   
    background-color: rgb(255,255,255,0.8);
}


.project-container .project-image-container {
    width: 256px;
    height: 160px;
    background-size: cover;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.project-container .project-image-container .project-image {
    height: 100%; 
    width: 100%; 
    background-size: cover;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.project-container .project-name {
    height: 10px;
    margin-top: -18px;
    padding-bottom: 0px;
    line-height: 0px;
    text-align:center;
}


/* Also applies to gallery */
.item-image {
    background-color: white;
    display: inline-block;
}

.item-image img:hover{
    opacity: .4;
}

.description {
    display: none;
}
</style>

<div class="project">
    <div class="project-preview">
        <div class="container project-container tweetspace" type="project" target="1">
            <div class="project-image-container item-image" id="tweetspace">
                <img src="https://i.imgur.com/xWjR2E1.jpg" class="project-image">
            </div>
            <div class="project-name" "item-name">
                <h6 class="header-text">Tweetspace</h6>
            </div>
        </div>
    </div>
    <div class="project-description">
        <div class="tweetspace description description-project" id="item1">
            <h3 class="header-text">Tweetspace</h3>
            <h5 class="header-text">January 2016</h5>
            <p>A program that retrieves specified tweets based on time and location, then performs sentiment analysis on them. </p>
            <p>A hackathon project made in collaboration with David Zhang (Twitter API retrieval + backend, C#) and Jack Yan (Interface, ASP.net). I worked on natural language sentiment analysis using Python library nltk.</p>
        </div>
    </div>
</div>