#link ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#link ul li {
/*    display:none;*/
/*
	position:relative;
	float:left;
	margin:0;
	padding:0
*/
}

#link ul a {
	display:block;
/*	color:#333;*/
	text-decoration:none;
    
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
}

#menu2 ul li {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#menu2 ul li:hover {
    display:block;
}


#menu2 ul ul li {
	float:none;
	
}

#link ul li:hover > ul {
	display:block
}